@media all and (min-width: 640px) {
	.card-sizer, .card {
		width: 92 / 2 * 1%;
		margin: 0 2% 25px 2%;
	}
}

@media all and (min-width: 1080px) {
	.card-sizer, .card {
		width: 94 / 3 * 1%;
		margin: 0 1% 25px 1%;
	}
	.card {
		p {
			display: block !important;
		}
	}
}