@media all and (min-width: 720px) {
	#header {
		#logo-burger-wrapper {
			width: auto;
		}
		ul {
			display: flex;
			position: relative;
			top: auto;
			left: auto;
			width: auto;
			height: 100%;
			flex-direction: row;
			padding: 0;
			margin: 0;
			background: transparent;
			animation: none;
			a {
				width: auto;
				border: 0;
				animation: none;
				transform: scale(1);
				position: relative;
			}
			a::after {
				animation: none;
			}
			a::before {
				content: '';
				position: absolute;
				bottom: 0;
				left: 50%;
				width: 0;
				height: 3px;
				opacity: 0;
				background: $white;
				transition: all 0.25s ease;
			}
			a:hover::before {
				width: 100%;
				opacity: 1;
				left: 0;
			}
		}
		.burger-menu {
			display: none;
		}
	}
	#project-type, #image-type {
		font-size: 1.4em;
	}
}