/* -- FONTS -- */
@font-face {
	font-family: 'century-gothic';
	src: url('/src/css/build/fonts/century-gothic.ttf');
}
@font-face {
	font-family: 'Montserrat Alternates';
	src: url('/src/css/build/fonts/MontserratAlternates-Regular.ttf');
}

@import 'colours.scss';

* {
	box-sizing: border-box;
}

body {
	width: 100vw;
	background: #f6f6f6;
	font-size: 14pt;
	font-weight: 700;
	font-family: 'century-gothic', sans-serif;
	font-weight: 100;
	overflow-x: hidden;
}

h1, h2, h3 {
	font-family: 'century-gothic', sans-serif;
	letter-spacing: 2px;
	font-weight: 100;
}

#post {
	h1, h2, h3 {
		margin-top: 50px;
	}
}

h2, h3 {
	text-transform: uppercase;
}
h2 {
	font-size: 1.6em;
}
h3 {
	font-size: 1.25em;
}

a {
	color: $grey;
}
a:hover {
	color: $black;
}

#container {
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 75px;
	width: 100vw;
	display: flex;
	flex-direction: column;
}

#header {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100vw;
	height: 75px;
	background: $black;
	font-family: 'Montserrat Alternates', sans-serif;
	color: $white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 25px;
	#logo-burger-wrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	#logo {
		height: 60px;
		img {
			height: 100%;
		}
	}
	ul {
		display: flex;
		transition: width 0.25s ease;
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		height: calc(100vh - 75px);
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0;
		margin: 75px 0 0 0;
		background: $black;
		a {
			color: $white;
			font-size: 1em;
			text-decoration: none;
			padding: 10px 20px;
			width: 80%;
			height: 100%;
			max-height: 100px;
			text-align: center;
			display: flex;
			align-items: center;
			position: relative;
			transform: scale(0);
			li {
				display: inline-block;
				margin: auto;
			}
		}
		a::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			height: 1px;
			width: 100%;
			transform: scaleX(0);
			transform-origin: 50% 100%;
			margin: auto;
			background: $white;
		}
		a:last-child::after {
			display: none;
		}
	}
	.burger-menu {
		height: 20px;
		width: 25px;
		position: relative;
		display: block;
		cursor: pointer;
		float: right;
		div {
			width: 100%;
			height: 2px;
			background: $white;
			position: absolute;
			top: 9px;
			opacity: 1;
			transition: opacity 0.25s ease, transform 0.25s ease;
			transition-delay: 0.25s;
		}
		&::before {
			content: '';
			width: 100%;
			height: 2px;
			background: $white;
			position: absolute;
			transform-origin: 0 1px;
			transition: transform 0.25s ease;
			transition-delay: 0.25s;
		}
		&::after {
			content: '';
			width: 100%;
			height: 2px;
			background: $white;
			position: absolute;
			bottom: 0;
			transform-origin: 0 1px;
			transition: transform 0.25s ease;
			transition-delay: 0.25s;
		}
	}
	&.clicked {
		ul {
			width: 100%;
			transition: width 0.25s ease;
			a {
				animation: list-link-anim 0.25s ease;
				animation-delay: 0.25s;
				animation-fill-mode: forwards;
			}
			a::after {
				animation: list-link-border-anim 0.25s ease;
				animation-fill-mode: forwards;
				animation-delay: 0.5s;
			}
		}
		.burger-menu {
			div {
				transform: translateX(-25px);
				opacity: 0;
				transition: opacity 0.25s ease, transform 0.25s ease;
			}
			&::before {
				transform: rotate(45deg);
				transition: transform 0.25s ease;
			}
			&::after {
				transform: rotate(-45deg);
				transition: transform 0.25s ease;
			}
		}
	}
}
@keyframes list-link-anim {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes list-link-border-anim {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}

#content {
	width: 96%;
	margin: 0 auto;
}

#title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	h1 {
		font-size: 1.6em;
		border-bottom: 3px solid $black;
		padding: 15px;
	}
}

.filter.title {
	padding: 25px;
	border: 3px solid $black;
	background: $black;
	color: $white;
	width: 90%;
	max-width: 400px;
	margin: 50px auto;
	text-align: center;
	overflow: hidden;
	h2 {
		margin: 0;
		text-transform: uppercase;
	}
}

#load-more {
	padding: 25px;
	width: 90%;
	margin: 50px auto;
	max-width: 400px;
	border: 3px solid;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}
#load-more:hover {
	background: $black;
	color: $white;
	border-color: $black;
}

#navigation {
	clear: both;
	display: flex;
	justify-content: center;
	margin: 50px auto;
	a {
		width: 100%;
		max-width: 400px;
		margin: 0 10px;
		background: $bg;
		color: $black;
		border: 3px solid $black;
		text-align: center;
		text-decoration: none;
		transition: all 0.25s ease;
		div {
			padding: 25px;
		}
	}
	a:hover {
		background: $black;
		color: $white;
	}
}

.card {
	padding-bottom: 25px;
	h2 {
		font-size: 1.2em;
	}
	.cover-image {
		margin-bottom: -50px;
		z-index: 0;
	}
	a {
		text-decoration: none;
		color: inherit;
		position: relative;
		.info-container {
			padding-top: 50px;
			z-index: 15;
		}
		.info-container.no-cover {
			padding-top: 0;
			margin-top: 25px;
		}
	}
}

#cover-image {
	width: 100%;
	max-height: 65vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	img {
		width: 100%;
	}
}

#top-post-navigation {
	.nav-links {
		display: flex;
		width: 100%;
		justify-content: space-between;
		> div {
			margin: 10px;
			a {
				color: inherit;
				text-decoration: none;
				display: flex;
				border: 3px solid $black;
				justify-content: center;
				i {
					display: none;
				}
				> div {
					text-align: center;
					padding: 25px 25px;
				}
			}
		}
	}
	h2 {
		display: none;
	}
}

#bottom-post-navigation {
	.nav-links {
		width: 100%;
		margin-top: 50px;
		> div {
			&.nav-previous {
				text-align: left;
				border-bottom: 1px solid $black;
			}
			&.nav-next {
				text-align: right;
				border-top: 1px solid $black;
				padding-top: 15px;
			}
			a {
				color: inherit;
				text-decoration: none;
				> div {
					padding: 25px 25px;
					transition: all 0.25s ease;
					span {
						color: $grey;
					}
					h3 {
						margin-top: 25px;
					}
				}
			}
			a:hover {
				> div {
					opacity: 0.5;
				}
			}
		}
	}
	h2 {
		display: none;
	}
}

#post-content {
	width: 100%;
	max-width: 900px;
	margin: 0 auto;
	padding: 25px;
	font-size: 0.9em;
	h1 {
		font-size: 1.6em;
	}
	ul {
		font-size: 1.1em;
	}
	.img-full {
		margin: 0 auto;
		margin-bottom: 25px;
		width: 95%;
		text-align: center;
	}
	.img-caption {
		width: 100%;
		border-bottom: 1px solid;
		font-size: 0.8em;
		padding: 0 10px 20px 10px;
		text-align: left;
		font-size: 1em;
	}
	img {
		max-width: 100%;
		border-radius: 5px;
		box-shadow: 0 5px 10px $cardShadow;
	}
	iframe {
		box-shadow: 0 5px 10px $cardShadow;
	}
	.img-container {
		display: flex;
		width: 95%;
		justify-content: center;
		margin: 0 auto;
		margin-bottom: 15px;
		flex-wrap: wrap;
		.img-small {
			flex: 1 1 180px;
			max-width: 400px;
			margin: 10px;
			text-align: center;
		}
	}
}

.well {
	background: #efefef;
	padding: 0 25px;
	font-size: 0.8em;
	border: 1px solid $grey;
	box-shadow: 0 5px 10px $cardShadow;
	border-radius: 5px;
}

blockquote {
	border-left: 5px solid;
	padding-left: 25px;
}

.commentlist {
	> li {
		margin-bottom: 25px;
		> ul {
			margin-top: 25px;
		}
	}
	li {
		list-style-type: none;
		border-left: 2px solid $black;
		padding-left: 15px;
	}
}

label, textarea, input {
	display: block;
}

textarea, input {
	font-family: 'century-gothic';
	width: 100%;
	border: 0;
	border-radius: 5px;
	min-height: 25px;
	transition: all 0.25s ease;
	padding: 5px;
	font-size: 0.75em;
	color: $black;
}
textarea:focus, input:focus {
	outline: 0;
	box-shadow: 0 5px 10px $cardShadow;
}

label {
	margin-bottom: 10px;
}

.comment-form-author {
	width: 47%;
	margin-right: 3%;
	float: left;
}
.comment-form-email {
	width: 47%;
	margin-left: 3%;
	float: left;
}
.comment-form-url {
	display: none;
}

input#submit {
	padding: 25px;
	background: none;
	border: 3px solid $black;
	border-radius: 0;
	font-size: 1em;
	max-width: 400px;
	float: right;
	margin-bottom: 25px;
	transition: all 0.25s ease;
}
input#submit:hover {
	background: $black;
	color: $white;
}

#back-to-top {
	display: none;
	background: $transparentWhite;
	border: 2px solid $black;
	font-size: 0.8em;
	text-transform: uppercase;
	padding: 15px;
	position: fixed;
	right: 20px;
	bottom: 10px;
	cursor: pointer;
}

@import 'desktop-main.scss';
@import 'cards.scss';
@import 'desktop-blog.scss';