/* -- FONTS -- */
@font-face {
	font-family: 'century-gothic';
	src: url('/src/css/build/fonts/century-gothic.ttf');
}
@font-face {
	font-family: 'Montserrat Alternates';
	src: url('/src/css/build/fonts/MontserratAlternates-Regular.ttf');
}

@import 'colours.scss';

* {
	box-sizing: border-box;
}

body {
	background: #f6f6f6;
	font-size: 14pt;
	font-weight: 700;
	font-family: 'century-gothic', sans-serif;
	font-weight: 100;
}

h1, h2, h3 {
	font-family: 'century-gothic', sans-serif;
	letter-spacing: 2px;
	font-weight: 100;
}

h2 {
	font-size: 1.4em;
}

#container {
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 75px;
	width: 100%
}

#header {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100%;
	height: 75px;
	background: $black;
	font-family: 'Montserrat Alternates', sans-serif;
	color: $white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 25px;
	#logo {
		height: 60px;
		img {
			height: 100%;
		}
	}
	ul {
		display: flex;
		transition: width 0.25s ease;
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		height: calc(100vh - 75px);
		flex-direction: column;
		align-items: center;
		padding: 0;
		margin: 75px 0 0 0;
		background: $black;
		a {
			color: $white;
			font-size: 1.5em;
			text-decoration: none;
			padding: 10px 20px;
			width: 80%;
			height: 100%;
			text-align: center;
			display: flex;
			align-items: center;
			position: relative;
			transform: scale(0);
			li {
				display: inline-block;
				margin: auto;
			}
		}
		a::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			height: 1px;
			width: 100%;
			transform: scaleX(0);
			transform-origin: 50% 100%;
			margin: auto;
			background: $white;
		}
		a:last-child::after {
			display: none;
		}
	}
	.burger-menu {
		height: 20px;
		width: 25px;
		position: relative;
		cursor: pointer;
		div {
			width: 100%;
			height: 2px;
			background: $white;
			position: absolute;
			top: 9px;
			opacity: 1;
			transition: opacity 0.25s ease, transform 0.25s ease;
			transition-delay: 0.25s;
		}
		&::before {
			content: '';
			width: 100%;
			height: 2px;
			background: $white;
			position: absolute;
			transform-origin: 0 1px;
			transition: transform 0.25s ease;
			transition-delay: 0.25s;
		}
		&::after {
			content: '';
			width: 100%;
			height: 2px;
			background: $white;
			position: absolute;
			bottom: 0;
			transform-origin: 0 1px;
			transition: transform 0.25s ease;
			transition-delay: 0.25s;
		}
	}
	&.clicked {
		ul {
			width: 100%;
			transition: width 0.25s ease;
			a {
				animation: list-link-anim 0.25s ease;
				animation-delay: 0.25s;
				animation-fill-mode: forwards;
			}
			a::after {
				animation: list-link-border-anim 0.25s ease;
				animation-fill-mode: forwards;
				animation-delay: 0.5s;
			}
		}
		.burger-menu {
			div {
				transform: translateX(-25px);
				opacity: 0;
				transition: opacity 0.25s ease, transform 0.25s ease;
			}
			&::before {
				transform: rotate(45deg);
				transition: transform 0.25s ease;
			}
			&::after {
				transform: rotate(-45deg);
				transition: transform 0.25s ease;
			}
		}
	}
}
@keyframes list-link-anim {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes list-link-border-anim {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}

.filter.title {
	padding: 25px;
	border: 3px solid $black;
	background: $black;
	color: $white;
	width: 90%;
	max-width: 400px;
	margin: 50px auto;
	text-align: center;
	overflow: hidden;
	h2 {
		margin: 0;
		text-transform: uppercase;
	}
}

#load-more {
	padding: 25px;
	width: 90%;
	margin: 50px auto;
	max-width: 400px;
	border: 3px solid;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}
#load-more:hover {
	background: $black;
	color: $white;
	border-color: $black;
}

#navigation {
	clear: both;
	margin-top: 100px;
}

.card {
	padding-bottom: 25px;
	.cover-image {
		margin-bottom: -50px;
	}
	a {
		text-decoration: none;
		color: inherit;
		position: relative;
		.info-container {
			padding-top: 50px;
		}
	}
}

@import 'desktop-main.scss';
@import 'cards.scss';