@import 'colours.scss';

.card {
	background: $white;
	box-shadow: 0 5px 5px $cardShadow;
	font-size: 0.9em;
	h2 {
		font-size: 1.2em;
	}
}

.card.ng-enter, .card.ng-leave {
	transition: all 0.4s ease;
	opacity: 1;
}
.card.ng-enter {
	opacity: 0;
}
.card.ng-enter.ng-enter-active {
	opacity: 1;
}
.card.ng-leave.ng-leave-active {
	opacity: 0;
}

.card-sizer, .card {
	width: 96%;
	float: left;
	margin: 0 2% 25px 2%;
}

.info-container {
	margin: 0 25px;
	text-align: center;
	border: 3px solid;
	background: $transparentWhite;
	padding: 25px;
}

.cover-image {
	width: 100%;
	img {
		width: 100%;
	}
}

.project-card {
	.cover-image {
		img {
			margin-bottom: -25px;
		}
	}
	a {
		text-decoration: none;
		&.ux {
			color: $green;
		}
		&.gd {
			color: $blue;
		}
		&.ph {
			color: $grey;
		}
		&.ar {
			color: $red;
		}
		&.wd {
			color: $orange;
		}
	}
	.info-container {
		padding-top: 50px;
		position: relative;
		top: -25px;
		p {
			display: none;
		}
		i {
			font-size: 18pt;
		}
	}
}

.work-card {
	.info-container {
		margin: 20px 25px 25px 25px;
		h3 {
			margin: 0;
		}
		&.ux {
			color: $green;
		}
		&.gd {
			color: $blue;
		}
		&.ph {
			color: $grey;
		}
		&.ar {
			color: $red;
		}
		&.wd {
			color: $orange;
		}
	}
}

.info-container:hover {
	h2 {
		text-decoration: underline;
	}
}

@import 'desktop-cards.scss';