/* -- FONTS -- */
@font-face {
	font-family: 'century-gothic';
	src: url('fonts/century-gothic.ttf');
}
@font-face {
	font-family: 'Montserrat Alternates';
	src: url('fonts/MontserratAlternates-Regular.ttf');
}

@import 'colours.scss';

* {
	box-sizing: border-box;
}

body {
	width: 100vw;
	background: #f6f6f6;
	font-size: 14pt;
	font-weight: 700;
	font-family: 'century-gothic', sans-serif;
	font-weight: 100;
	overflow-x: hidden;
}

h1, h2, h3 {
	font-family: 'century-gothic', sans-serif;
	letter-spacing: 2px;
	font-weight: 100;
}

h2 {
	font-size: 1.4em;
}

#container {
	position: absolute;
	top: 0;
	left: 0;
	padding-top: 75px;
	width: 100vw;
	display: flex;
	flex-direction: column;
}

#header {
	position: fixed;
	z-index: 9999;
	top: 0;
	left: 0;
	width: 100vw;
	height: 75px;
	background: $black;
	font-family: 'Montserrat Alternates', sans-serif;
	color: $white;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 0 25px;
	#logo-burger-wrapper {
		width: 100%;
		display: flex;
		justify-content: space-between;
		align-items: center;
	}
	#logo {
		height: 60px;
		img {
			height: 100%;
		}
	}
	ul {
		display: flex;
		transition: width 0.25s ease;
		position: absolute;
		top: 0;
		right: 0;
		width: 0;
		height: calc(100vh - 75px);
		flex-direction: column;
		align-items: center;
		justify-content: center;
		padding: 0;
		margin: 75px 0 0 0;
		background: $black;
		a {
			color: $white;
			font-size: 1em;
			text-decoration: none;
			padding: 10px 20px;
			width: 80%;
			height: 100%;
			max-height: 100px;
			text-align: center;
			display: flex;
			align-items: center;
			position: relative;
			transform: scale(0);
			li {
				display: inline-block;
				margin: auto;
			}
		}
		a::after {
			content: '';
			position: absolute;
			left: 0;
			bottom: 0;
			height: 1px;
			width: 100%;
			transform: scaleX(0);
			transform-origin: 50% 100%;
			margin: auto;
			background: $white;
		}
		a:last-child::after {
			display: none;
		}
	}
	.burger-menu {
		height: 20px;
		width: 25px;
		position: relative;
		display: block;
		cursor: pointer;
		float: right;
		div {
			width: 100%;
			height: 2px;
			background: $white;
			position: absolute;
			top: 9px;
			opacity: 1;
			transition: opacity 0.25s ease, transform 0.25s ease;
			transition-delay: 0.25s;
		}
		&::before {
			content: '';
			width: 100%;
			height: 2px;
			background: $white;
			position: absolute;
			transform-origin: 0 1px;
			transition: transform 0.25s ease;
			transition-delay: 0.25s;
		}
		&::after {
			content: '';
			width: 100%;
			height: 2px;
			background: $white;
			position: absolute;
			bottom: 0;
			transform-origin: 0 1px;
			transition: transform 0.25s ease;
			transition-delay: 0.25s;
		}
	}
	&.clicked {
		ul {
			width: 100%;
			transition: width 0.25s ease;
			a {
				animation: list-link-anim 0.25s ease;
				animation-delay: 0.25s;
				animation-fill-mode: forwards;
			}
			a::after {
				animation: list-link-border-anim 0.25s ease;
				animation-fill-mode: forwards;
				animation-delay: 0.5s;
			}
		}
		.burger-menu {
			div {
				transform: translateX(-25px);
				opacity: 0;
				transition: opacity 0.25s ease, transform 0.25s ease;
			}
			&::before {
				transform: rotate(45deg);
				transition: transform 0.25s ease;
			}
			&::after {
				transform: rotate(-45deg);
				transition: transform 0.25s ease;
			}
		}
	}
}
@keyframes list-link-anim {
	0% {
		transform: scale(0);
	}
	100% {
		transform: scale(1);
	}
}
@keyframes list-link-border-anim {
	0% {
		transform: scaleX(0);
	}
	100% {
		transform: scaleX(1);
	}
}

#splash-logo-container {
	width: 100vw;
	height: calc( 100vh - 75px );
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 0 50px;
	margin-top: 75px;
	background: $black;
	position: fixed;
	top: 0;
	left: 0;
	z-index: 999;
	cursor: pointer;
	#splash-logo {
		flex: 1 1 400px;
		max-width: 400px;
		svg {
			width: 100%;
		}
	}
}
@keyframes fadeIn {
	0% { opacity: 0; }
	100% { opacity: 1; }
}

#ng-view-container {
	position: relative;
	height: 100%;
	width: 100vw;
	.view-animate.ng-enter, .view-animate.ng-leave {
		display: block;
		width: 100%;
		position: absolute;
		top: 0;
		left: 0;
		right: 0;
		bottom: 0;
		opacity: 1;
	}
	.view-animate.ng-enter {
		animation: slideInLeft 0.5s ease;
		animation-fill-mode: forwards;
		animation-delay: 0.51s;
		left: 100%;
	}
	.view-animate.ng-leave {
		animation: slideOutLeft 0.5s ease;
		animation-fill-mode: forwards;
	}
}
@keyframes slideInLeft {
	0% { left: 100%; }
	100% { left: 0; }
}
@keyframes slideOutLeft {
	0% { left: 0; }
	100% { left: -100%; }
}

#loader {
	width: 100%;
	height: 100%;
	height: calc(100vh - 75px);
	display: flex;
	align-items: center;
	justify-content: center;
	z-index: 9999;
	background: $bg;
	> div {
		width: 100px;
		height: 100px;
		position: relative;
		perspective: 780px;
		div {
			width: 100%;
			height: 100%;
			position: absolute;
			border-radius: 50%;
		}
		div.one {
			border-left: 3px solid $blue;
			animation: loader-one 1.5s linear infinite;
		}
		div.two {
			border-right: 3px solid $red;
			animation: loader-two 1.5s linear infinite;
			animation-delay: -1.75s;
		}
		div.three {
			border-top: 3px solid $green;
			animation: loader-three 1.5s linear infinite;
			animation-delay: -1.75s;
		}
	}
}
@keyframes loader-one {
	0% {
		transform: rotateX(15deg) rotateY(45deg) rotateZ(0);
	}
	100% {
		transform: rotateX(15deg) rotateY(45deg) rotateZ(360deg);
	}
}
@keyframes loader-two {
	0% {
		transform: rotateX(-50deg) rotateY(45deg) rotateZ(0);
	}
	100% {
		transform: rotateX(-50deg) rotateY(45deg) rotateZ(360deg);
	}
}
@keyframes loader-three {
	0% {
		transform: rotateX(-35deg) rotateY(0deg) rotateZ(0);
	}
	100% {
		transform: rotateX(-35deg) rotateY(0deg) rotateZ(360deg);
	}
}

#title {
	text-align: center;
	text-transform: uppercase;
	letter-spacing: 5px;
	h1 {
		font-size: 1.6em;
		border-bottom: 3px solid $black;
		padding: 15px;
	}
}

.info-container, .text {
	z-index: 5;
}

#filter, #links, #hobby-list {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	cursor: pointer;
	.filter {
		border: 3px solid $black;
		color: $black;
		margin: 25px;
		min-width: 78px;
		text-align: center;
		div {
			padding: 25px;
			text-transform: uppercase;
		}
		div:last-child {
			display: none;
			position: relative;
		}
		i {
			position: absolute;
			top: 25px;
			right: 25px;
			margin-left: 10px;
			font-size: 1.2em;
		}
		&.gd {
			color: $blue;
			border-color: $blue;
		}
		&.ph {
			color: $grey;
			border-color: $grey;
		}
		&.wd {
			color: $orange;
			border-color: $orange;
		}
		&.ar {
			color: $red;
			border-color: $red;
		}
	}
	.filter.clicked {
		color: $white;
		background: $black;
		div {
			padding-right: 60px;
		}
		div:first-child {
			display: none;
		}
		div:last-child {
			display: block;
		}
		&.gd {
			background: $blue;
		}
		&.ux {
			background: $green;
		}
		&.ui {
			background: $purple;
		}
		&.pr {
			background: $turquoise;
		}
		&.ph {
			background: $grey;
		}
		&.wd {
			background: $orange;
		}
		&.ar {
			background: $red;
		}
	}
	.filter:hover {
		color: $white;
		background: $black;
		transition: background 0.25s ease, color 0.25s ease;
		&.gd {
			background: $blue;
		}
		&.ux {
			background: $green;
		}
		&.ui {
			background: $purple;
		}
		&.pr {
			background: $turquoise;
		}
		&.ph {
			background: $grey;
		}
		&.wd {
			background: $orange;
		}
		&.ar {
			background: $red;
		}
	}
}
.filter.title {
	padding: 25px;
	border: 3px solid $black;
	background: $black;
	color: $white;
	width: 90%;
	max-width: 400px;
	margin: 50px auto !important;
	text-align: center;
	overflow: hidden;
	h2 {
		margin: 0 auto;
		text-transform: uppercase;
	}
}

// SEPERATOR ANIMATION
#filter-seperator {
	width: 90%;
	height: 2px;
	background: $black;
	margin: 25px auto 50px auto;
}
#filter-seperator.ng-hide-remove {
	animation: scaleUp 0.5s ease;
}
#filter-seperator.ng-hide-add {
	animation: scaleDown 0.5s ease;
}
@keyframes scaleUp {
	0% { 
		transform: scaleX(0); 
		margin: 25px auto;
	}
	100% { 
		transform: scaleX(1);
		margin: 25px auto 50px auto; 
	}
}
@keyframes scaleDown {
	0% { 
		transform: scaleX(1); 
		margin: 25px auto 50px auto;
	}
	100% { 
		transform: scaleX(0);
		margin: 25px auto -25px auto; 
	}
}

#load-more {
	clear: both;
	padding: 25px;
	width: 90%;
	margin: 50px auto;
	max-width: 400px;
	border: 3px solid;
	text-align: center;
	text-transform: uppercase;
	cursor: pointer;
}
#load-more:hover {
	background: $black;
	color: $white;
	border-color: $black;
}

#project-type, #image-type {
	margin: 50px auto 25px auto;
	width: 90%;
	max-width: 400px;
	text-decoration: none;
	color: inherit;
	padding: 25px 50px;
	font-size: 1em;
	font-weight: 100;
	text-transform: uppercase;
	text-align: center;
	letter-spacing: 5px;
	border: 4px solid;
	transition: color 0.25s ease, background 0.25s ease, border-color 0.25s ease;
	&.ux {
		color: $green;
	}
	&.ui {
		color: $purple;
	}
	&.pr {
		color: $turquoise;
	}
	&.gd {
		color: $blue;
	}
	&.ph {
		color: $grey;
	}
	&.ar {
		color: $red;
	}
	&.wd {
		color: $orange;
	}
	a:hover {
		color: $white;
		&.ux {
			background: $green;
			border-color: $green;
		}
		&.ui {
			background: $purple;
			border-color: $purple;
		}
		&.pr {
			background: $turquoise;
			border-color: $turquoise;
		}
		&.gd {
			background: $blue;
			border-color: $blue;
		}
		&.ph {
			background: $grey;
			border-color: $grey;
		}
		&.wd {
			background: $orange;
			border-color: $orange;
		}
	}
}

#project-images, #work-image {
	width: 100%;
	position: relative;
	display: flex;
	.images {
		flex: 1 1 85%;
		max-width: 900px;
		box-shadow: 0 10px 15px $lightBlack;
		img {
			width: 100%;
			float: left;
		}
	}
	.bg-colours {
		flex: 1 1;
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		z-index: -10;
		.clear {
			height: 25px;
			width: 100%;
		}
		.colour {
			width: 100%;
			flex-grow: 1;
		}
	}
	&.single-images {
		img {
			margin-bottom: 5px;
		}
		img:last-child {
			margin: 0;
		}
	}
	&.ux {
		.colour {
			background: $green;
		}
	}
	&.ui {
		.colour {
			background: $purple;
		}
	}
	&.pr {
		.colour {
			background: $turquoise;
		}
	}
	&.gd {
		.colour {
			background: $blue;
		}
	}
	&.wd {
		.colour {
			background: $orange;
		}
	}
	&.ar {
		.colour {
			background: $red;
		}
	}
	&.ph {
		.colour {
			background: $grey;
		}
	}
}

@import 'desktop-main.scss'