@import 'colours.scss';

#project {
	width: 100%;
	text-align: center;
	padding-bottom: 25px;
}

#cover-image {
	width: 100%;
	max-height: 65vh;
	overflow: hidden;
	display: flex;
	align-items: center;
	flex-direction: column;
	justify-content: center;
	img {
		width: 100%;
	}
}

#intro {
	max-width: 900px;
	margin: auto;
	padding: 25px;
	a {
		color: inherit;
		opacity: 0.5;
	}
	a:hover {
		opacity: 1;
	}
}

#projects-side {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin-top: 50px;
	> div {
		flex: 1 1 400px;
		max-width: 400px;
		margin: 25px;
		.card {
			width: 100%;
			margin: 0;
			.cover-image {
				margin-bottom: -25px;
			}
			a {
				text-decoration: none;
				color: inherit;
				&.ux {
					color: $green;
				}
				&.ui {
					color: $purple;
				}
				&.pr {
					color: $turquoise;
				}
				&.gd {
					color: $blue;
				}
				&.ph {
					color: $grey;
				}
				&.ar {
					color: $red;
				}
				&.wd {
					color: $orange;
				}
			}
			.info-container {
				margin: 0 25px;
				padding-top: 50px;
				position: relative;
				top: -25px;
				p {
					display: none;
				}
				i {
					font-size: 18pt;
				}
			}
		}
	}
}

@import 'desktop-project.scss';