<div id="contact" ng-init="instaLimit = 5; lastfmLimit = 5;">

	<div id="title" class='filter title'>
		<h1>Contact</h1>
	</div>

	<div id='email'>
		<div class='filter title'>
			<a href='mailto:sebcglbailey@gmail.com' title="Email Me">
				<h2>Email Me</h2>
			</a>
		</div>
	</div>

	<div id="social">
		<div class='filter title'>
			<h2>Social</h2>
		</div>
		<div id='links'>
			<div ng-repeat="link in contactList" class='contact-link filter {{link.type}}'>
				<a href="{{link.href}}" title="{{link.title}}" target="_blank">
					{{link.name}}
				</a>
			</div>
		</div>
	</div>

	<div id='instagram'>
		<div class='filter title'>
			<a href="http://www.instagram.com/_u/seb.bailey" target="_blank" title="@seb.bailey">
				<h2>Instagram</h2>
			</a>
		</div>
		<div id="insta-posts">
			<div class='insta-post' ng-repeat="post in pics | limitTo: instaLimit">
				<img ng-click="setActiveIn(post);" ng-src="{{post.images.thumbnail.url}}" alt="{{post.caption.text}}" />
			</div>
			<div ng-click="instaLimit = instaLimit + 5" ng-hide="instaLimit == 10;" class='more'><span>...</span></div>
		</div>
		<div id='insta-cards'>
			<div ng-show="activeItemIn == post" class='insta-pic' ng-repeat="post in pics | limitTo: instaLimit">
				<a ng-href="{{post.link}}" target="_blank">
					<img ng-srcset="{{post.images.standard_resolution.url}} 640w, {{post.images.low_resolution}} 320w" ng-src="{{post.images.low_resolution.url}}" alt="{{post.caption.text}}" />
				</a>
				<div class='text'>
					<div class="text-container">
						<p>{{post.caption.text}}</p>
						<span class='likes'>Likes: {{post.likes.count}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id='last-fm'>
		<div class='filter title'>
			<a href="http://www.last.fm/user/sebcglbailey" target="_blank" title="@sebcglbailey">
				<h2>Last.fm</h2>
			</a>
		</div>
		<div id="lastfm-posts">
			<div class='lastfm-post' ng-repeat="artist in topArtists.topartists.artist | limitTo: lastfmLimit">
				<img ng-click="setActiveLf(artist);" ng-src="{{artist.image[1]['#text']}}" />
			</div>
			<div ng-click="lastfmLimit = lastfmLimit + 5" ng-hide="lastfmLimit == 20;" class='more'><span>...</span></div>
		</div>
		<div id='lastfm-cards'>
			<div ng-show="activeItemLf == artist" class='lastfm-pic' ng-repeat="artist in topArtists.topartists.artist | limitTo: lastfmLimit">
				<a ng-href="{{artist.url}}" target="_blank">
					<img ng-src="{{artist.image[3]['#text']}}" alt="{{artist.name}}" />
				</a>
				<div class='text'>
					<div class="text-container">
						{{artist.name}}<br/><br/>
						{{artist.playcount}} plays
					</div>
				</div>
			</div>
		</div>
	</div>

</div>

<script type='src/javascript' src='/src/js/build/contact.js'></script>