<div id="contact">

	<div id='email'>
		<div class='filter title'>
			<a href='mailto:sebcglbailey@gmail.com' title="Email Me">
				<h2>Email Me</h2>
			</a>
		</div>
	</div>

	<div id="social">
		<div class='filter title'>
			<h2>Social</h2>
		</div>
		<div id='links'>
			<div ng-repeat="link in contactList" class='contact-link filter {{link.type}}'>
				<a href="{{link.href}}" title="{{link.title}}" target="_blank">
					{{link.name}}
				</a>
			</div>
		</div>
	</div>

	<div id='instagram'>
		<div class='filter title'>
			<h2>Instagram</h2>
		</div>
		<div id="insta-posts">
			<div class='insta-post' ng-repeat="post in pics | limitTo: 15">
				<img ng-click="setActiveIn(post);" ng-src="{{post.images.thumbnail.url}}" alt="{{post.caption.text}}" />
			</div>
		</div>
		<div id='insta-cards'>
			<div ng-show="activeItemIn == post" class='insta-pic' ng-repeat="post in pics | limitTo: 15">
				<a ng-href="{{post.link}}">
					<img ng-src="{{post.images.low_resolution.url}}" alt="{{post.caption.text}}" />
				</a>
				<div class='text'>
					<div class="text-container">
						<p>{{post.caption.text}}</p>
						<span class='likes'>Likes: {{post.likes.count}}</span>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div id='last-fm'>
		<div class='filter title'>
			<h2>Last.fm</h2>
		</div>
		<div id="lastfm-posts">
			<div class='lastfm-post' ng-repeat="artist in topArtists.topartists.artist | limitTo: 15">
				<img ng-click="setActiveLf(artist);" ng-src="{{artist.image[1]['#text']}}" />
			</div>
		</div>
		<div id='lastfm-cards'>
			<div ng-show="activeItemLf == artist" class='lastfm-pic' ng-repeat="artist in topArtists.topartists.artist | limitTo: 15">
				<a ng-href="{{artist.url}}">
					<img ng-src="{{artist.image[3]['#text']}}" alt="{{artist.name}}" />
				</a>
				<div class='text'>
					<div class="text-container">
						{{artist.name}}<br/><br/>
						{{artist.playcount}} plays
					</div>
				</div>
			</div>
		</div>
	</div>

</div>