<div id="work" ng-init="limit = 6; length = workList.length">

<!--
	<div id='loader'>
		<div>
			<div class='one'></div>
			<div class='two'></div>
			<div class='three'></div>
		</div>
	</div>
-->

	<div id="title">
		<h1>Work</h1>
	</div>

	<!-- FILTER THE WORKS -->
		<div id="filter">
			<div class="filter gd" ng-class="gdActive">
				<div ng-click='gdActive="clicked"; phActive=""; wdActive=""; arActive=""; filter = "gd"; length = (workList | filter: {type: "gd"}).length'>GD</div>
				<div ng-click='gdActive=""; filter =""; length = workList.length'>
					Graphic Design
					<i class='icon-close'></i>
				</div>
			</div>
			<div class="filter ph" ng-class="phActive">
				<div ng-click='gdActive=""; phActive="clicked"; wdActive=""; arActive=""; filter = "ph"; length = (workList | filter: {type: "ph"}).length'>PH</div>
				<div ng-click='phActive=""; filter =""; length = workList.length'>
					Photography
					<i class='icon-close'></i>
				</div>
			</div>
			<div class="filter wd" ng-class="wdActive">
				<div ng-click='gdActive=""; phActive=""; wdActive="clicked"; arActive=""; filter = "wd"; length = (workList | filter: {type: "wd"}).length'>WD</div>
				<div ng-click='wdActive=""; filter =""; length = workList.length'>
					Web Design
					<i class='icon-close'></i>
				</div>
			</div>
			<div class="filter ar" ng-class="arActive">
				<div ng-click='gdActive=""; phActive=""; wdActive=""; arActive="clicked"; filter = "ar"; length = (workList | filter: {type: "ar"}).length'>AR</div>
				<div ng-click='arActive=""; filter =""; length = workList.length'>
					Architecture
					<i class='icon-close'></i>
				</div>
			</div>
		</div>

<!-- STILL TRYING TO FIGURE OUT HOW TO MAKE ng-repeat LIST HERE INSTEAD
		<div id="filter">
			<div ng-repeat="type in workType" class="filter {{type.sh}}" ng-class="{{type.sh}}Active">
				<div ng-click='{{type.sh}}Active="clicked"; filter="{{type.sh}}"; length = (workList | filter: {type: "{{type.sh}}"}).length'>{{type.sh}}</div>
				<div ng-click='{{type.sh}}Active=""; filter=""; length = workList.length'>
					{{type.lh}}
					<i class='icon-close'></i>
				</div>
			</div>
		</div>
-->

	<div id="search">
		<label><input ng-model="search" ng-change="length = (workList | filter: searchWork).length" placeholder="Know what you're looking for?"></label>
	</div>

	<div ng-show="filter; search" id='filter-seperator'></div>

	<div class='masonry-container' masonry preserve-order reload-on-show id="work-cards" item-selector=".card">

		<h2 ng-show="length == 0">Oops! Looks like I haven't done anything to do with that! Try reducing your search...</h2>

		<div masonry-brick ng-repeat="piece in workList | filter: { type: filter } | filter: searchWork | limitTo: limit" class="card work-card">
			<a class='{{piece.type}}' ng-href='/image/{{piece.name}}' title='{{piece.title}}'>
				<div class="cover-image">
					<img srcset="/src/img/work/{{piece.image.xl}} 1280w, /src/img/work/{{piece.image.large}} 900w, /src/img/work/{{piece.image.medium}} 640w, /src/img/work/{{piece.image.small}} 360w" sizes="(min-width: 720px) 46vw, (min-width: 1080px) 31vw, 96vw" src="/src/img/work/{{piece.image.medium}}" alt="{{piece.title}}" />
				</div>
				<div class='info-container {{piece.type}}'>
					<div class="work-title">
						<h3 ng-bind-html="piece.title"></h3>
					</div>
				</div>
			</a>
		</div>

	</div>

	<div id="load-more" ng-hide="limit >= length" ng-click="limit = limit + 6">
		Load More...
	</div>

</div>

<script type='src/javascript' src='/src/js/build/work.js'></script>